[Unit]
Description=Runs minikube on startup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/minikube start
RemainAfterExit=yes
User=mir
Group=mir

[Install]
WantedBy=multi-user.target